/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* My Resets */

 *, *:before, *:after {
	box-sizing: border-box;
} 

/* General */

.container {
    max-width: 800px;
    margin: 0 auto;
}
* {
    list-style: none;
}

body {
    line-height: 1.7;
}

.imageList img {
    width: auto;
    height: 20vh;
}

h1 {
    font-size: 3rem;
    color: teal;
    text-align: center;
    padding: 3rem;
}

.image {
    padding: 2rem 0;
    text-align: center;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
   display: block;
   width: 100%;   
   padding: 12px 10px;
   border-radius: 12px;
   background-color: teal;
   color: #fafafa;
   font-size: 1.2rem;
   outline: none;
}

.category {
    font-size: 3rem;
    text-align: center;
}

.name {
    font-size: 3.5rem;
    padding: 20px 0;
    text-align: center;
}